{% block content %}
	<div class="containers-comments">
		{% if comments %}
			<div class="card-comment">
				{% for comment in comments %}
					<h4>{{ comment.username }}</h4>
					<p>Le
						{{ comment.commentDate }}</p>
					<p>{{ comment.content }}</p>
				{% endfor %}
			</div>
		{% else %}
			<p class="no-comments">Aucun commentaire</p>
		{% endif %}
	</div>
{% endblock %}
