{% extends 'layout.twig' %}
{% block title %}Erreur
{% endblock %}
{% block content %}
	<div class="error">
		<div class="error-content">
			<h2>Oops... La page demandée est introuvable</h2>
			<p>Cliquez
				<a href="/">
					<strong>ici</strong>
				</a>
				pour revenir à l'accueil</p>
		</div>
	</div>
{% endblock %}
