{% block footer %}
  <footer>
      <div class="footer-container">
         <a class="link-menu" href="/admin">Accès administrateur</a>
         <a class="link-menu" href="/contact">Formulaire de Contact</a>
      </div>
   </footer>
{% endblock %}