<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta
      name="description"
      content="Développeur d'application Symfony/React, je présente le projet 5 de Openclassrooms - Blog PHP"
    />
    <meta name="author" content="Nicolas Castagna" />
    <meta name="keywords" content="Portfolio, développeur web" />
    <meta name="type" content="portfolio" />
      <link rel="stylesheet" href="css/style.css" />
      <script src="https://kit.fontawesome.com/5850faea1d.js" crossorigin="anonymous"></script>
   <title>{% block title %}Portfolio{% endblock %} | Nicolas Castagna</title>
</head>
<body>
      {% include 'navbar.twig' %}
            <section>
                  <main class="grid-container">
                        {% block content %}{% endblock %}
                  </main>
            </section>
      {% include 'footer.twig' %}
</body>
</html>