{% extends 'layout.twig' %}
{% block title %}Se connecter
{% endblock %}
{% block content %}
	<div class="wrapper-inputs">
		<h2 class="title">Se connecter</h2>
		<form action="/connexion" method="post">
			<div class="input-container">
				<label for="email">Adresse mail :</label>
				<input type="email" class="form-control" id="email" name="email" required>
			</div>
			<div class="input-container">
				<label for="password">Mot de passe :</label>
				<input type="password" class="form-control" id="password" name="password" required>
			</div>
			{% if error %}
				<p>{{ error }}</p>
			{% endif %}
			<button class="btn btn-primary" type="submit">Se connecter</button>
		</form>
	</div>
{% endblock %}
