{% block navbar %}
	<header class="menu-wrapper">
		<div class="grid-container">
			<div class="group-menus">
				<input id="toggle" type="checkbox"/>
				<label for="toggle" class="hamburger" aria-label="Menu">
					<span class="top-bun"></span>
					<span class="meat"></span>
					<span class="bottom-bun"></span>
				</label>
				<div class="nav">
					<div class="nav-wrapper">
						<nav>
							<a class="link-menu" href="/">Accueil</a>
							<a class="link-menu" href="/blog">Blog</a>
							<a class="link-menu" href="/contact">Contact</a>
							<a class="link-menu" href="/inscription">S'enregistrer</a>
							<a class="link-menu" href="/connexion">Se connecter</a>
							<a class="link-menu" href="/deconnecter">Se déconnecter</a>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
