{% extends 'layout.twig' %}
{% block title %}Ajouter un nouvel article
{% endblock %}
{% block content %}
	<form action="/blog/ajout-article" method="post">
		<label for="title">Titre :</label>
		<input type="text" id="title" name="title" required>
		<label for="chapo">Chapo :</label>
		<textarea id="chapo" name="chapo" required></textarea>
		<label for="content">Contenu :</label>
		<textarea id="content" name="content" required></textarea>
		<button type="submit">Ajouter l'article</button>
	</form>
{% endblock %}
