{% extends 'layout.twig' %}
{% block title %}Ajouter un nouvel article
{% endblock %}
{% block content %}
	<h2 class="title">Ajouter un article</h2>
	<form action="/blog/ajout-article" method="post" enctype="multipart/form-data">
		<label for="title">Titre :</label>
		<input type="text" id="title" name="title" required>
		<label for="chapo">Chapo :</label>
		<textarea id="chapo" name="chapo" required></textarea>
		<label for="content">Contenu :</label>
		<textarea id="content" name="content" required></textarea>
		<input class="input-file" type="file" name="file" id="file"/>
		{% if error %}
			<p class="error">{{ error }}</p>
		{% endif %}
		<button type="submit">Ajouter l'article</button>
	</form>
{% endblock %}
